---
import Layout from '../layouts/Layout.astro';
import './index.css';
import '../global.css';
import RotatingSpan from '../components/rotating-span/RotatingSpan.tsx';
import wave from '../assets/wave.svg';
import firstRow from '../assets/first-row.svg';
---

<Layout />

<div class="index-body-container relative">
  <div class="mongodb-atlas flex items-center">
    <div class="bg-mongodb-button mongodb-atlas-bar"></div>
    <div class="ml-2">MONGODB ATLAS</div>
  </div>
  <div class="index-body-header">
    Loved by developers. <br /> Built for <RotatingSpan client:load />
  </div>
  <p>
    You don't need a separate database to support transactions, rich search, or
    gen AI. The world's most popular document database is now the world's most
    versatile developer data platform.
  </p>
  <div class="mt-10 flex items-center gap-10">
    <button
      class="navbar-button rounded-md bg-mongodb-button py-3 px-8 border border-mongodb-border font-bold"
      >Try Atlas Free</button
    >
    <div class="flex items-center gap-2">
      <div>Learn more</div><span class="material-symbols-outlined">
        arrow_forward
      </span>
    </div>
  </div>
  <div class="body-background">
    <div class="img-container">
      <img src={firstRow.src} alt="" class="first-row-img" />
      <img src={firstRow.src} alt="" class="second-row-img" />
      <img src={firstRow.src} alt="" class="third-row-img" />
    </div>
    <img src={wave.src} alt="" class="wave" />
  </div>
</div>
