@font-face {
  font-family: 'Euclid';
  src: url('/mongodb-landing-page/fonts/euclid-circular-a/euclid-light.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('/mongodb-landing-page/fonts/source-code-pro/source-code-pro-regular.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Value Serif';
  src: url('/mongodb-landing-page/fonts/value-serif/value-serif.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Garamond';
  src: url('/mongodb-landing-page/fonts/garamond/garamond.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
